.box{
    border: 1px black solid;
    background-color: whitesmoke;
}

.boxRed{
    border: 1px black solid;
    background-color: lightcoral;
    border-radius: 50%;
}

.boxGreen{
    border: 1px black solid;
    background-color: slategrey;
}